@model List<TechJobsPersistent.Models.Employer>

<h1>Employer: @Model[0].Name</h1>

<div>
    <p>Name: @Model[0].Name</p>
    <p>Location: @Model[0].Location</p>
</div>

@*why doesn't Model.Name work??  > has to refer to item in list*@
